# Distributed under the terms of the GNU General Public License v2

EAPI="7"

DESCRIPTION="{{description}}"
HOMEPAGE="{{homepage}}"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="{{license}}"

SLOT="0"
KEYWORDS="~amd64 ~arm ~arm64 ~x86"
IUSE=""

DEPEND="sys-devel/gettext"
RDEPEND="!dev-db/m17n-contrib
	virtual/libintl"

src_install() {
	default

	docinto FORMATS
	dodoc FORMATS/*

	docinto UNIDATA
	dodoc UNIDATA/*
}

