# Distributed under the terms of the GNU General Public License v2

EAPI="7"

DESCRIPTION="{{description}}"
HOMEPAGE="{{homepage}}"
SRC_URI="{{artifacts[0].src_uri}}"

LICENSE="{{license}}"

SLOT="0"
KEYWORDS="amd64 x86"
IUSE=""

RDEPEND="~dev-db/m17n-db-1.6.4"

