# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit go-module

EGO_SUM=(
{{ gosum }})

go-module_set_globals

DESCRIPTION="A tool for creating identical machine images for multiple platforms"
HOMEPAGE="https://www.packer.io/ https://github.com/{{github_user}}/{{github_repo}}"
SRC_URI="{{src_uri}}"

LICENSE="Apache-2.0"
SLOT="0"
KEYWORDS="*"

DEPEND=""
RDEPEND="${DEPEND}"
BDEPEND=">=dev-lang/go-1.17"
S="${WORKDIR}/{{github_user}}-{{github_repo}}-{{sha[:7]}}"

src_compile() {
	go build -o "${PN}" || die "compile failed"
}

src_install() {
	dobin ${PN}/${PN}
	dodoc README.md
}
