# Distributed under the terms of the GNU General Public License v2

EAPI=7

MY_PN=${PN/-bin/}
S=${WORKDIR}/${MY_PN}-version-${PV}

DESCRIPTION="{{description}}"
HOMEPAGE="https://github.com/{{github_user}}/{{github_repo}}"
SRC_URI="{{ src_uri }}"

LICENSE="Apache License v2.0"
SLOT="0"
KEYWORDS="-* {{artifacts.keys()|sort|join(' ')}}"
IUSE="{{artifacts.keys()|sort|join(' ')}}"

DEPEND=""
RDEPEND="${DEPEND}"

QA_PREBUILT="/usr/bin/wasm*"

QA_PRESTRIPPED="/usr/bin/binaryen-unittests"

post_src_unpack() {
	if [ ! -d "${S}" ] ; then
	mv "${WORKDIR}"/${MY_PN}-version_${PV} "${S}" || die
	fi
}

src_install() {
	for b in binaryen-unittests wasm-as wasm-ctor-eval wasm-dis wasm-emscripten-finalize wasm-fuzz-lattices wasm-fuzz-types wasm-merge wasm-metadce wasm-opt wasm-reduce wasm-shell wasm-split wasm2js ; do
		dobin bin/${b}
	done

	insinto /usr/lib/${MY_PN}
	doins -r include
}
