# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit cmake

DESCRIPTION="JSON for Modern C++"
HOMEPAGE="https://github.com/{{github_user}}/{{github_repo}}"
SRC_URI="
	{{artifacts[0].src_uri}}
	test? ( {{artifacts[1].src_uri }} )
"

LICENSE="MIT"
SLOT="0"
KEYWORDS="*"
IUSE="doc test"

BDEPEND="doc? ( app-doc/doxygen )"

DOCS=( ChangeLog.md README.md )

S="${WORKDIR}/{{github_repo}}-{{version}}"

fix_src_dirs() {
	# We need this because the top dir in the tarballs use the first part of the
	# corresponding commit which changes every release
	
	pushd "${WORKDIR}"
	mv {{github_user}}-{{github_repo}}-* {{github_repo}}-{{version}}
	mv {{github_user}}-{{test_repo}}-* {{test_repo}}-{{test_version}}
	popd
}

src_unpack() {
	default
	fix_src_dirs
}

src_configure() {
	
	# Just remove cmake_fetch_content test because even after passing -LE git_required
	# per https://github.com/nlohmann/json/issues/2189 it still tries to run those tests for 
	# whatever reason.
	pushd "${S}/test"
	sed -i '/add_subdirectory(cmake_fetch_content)/'d CMakeLists.txt
	popd
	
	# Tests are built by default so we can't group the test logic below
	local mycmakeargs=(
		-DJSON_MultipleHeaders=ON
		-DJSON_BuildTests=$(usex test)
	)

	# Define test data directory here to avoid unused var QA warning, bug #747826
	use test && mycmakeargs+=( -DJSON_TestDataDirectory="${WORKDIR}"/{{test_repo}}-{{test_version}} )

	cmake_src_configure
}

src_compile() {
	cmake_src_compile

	if use doc; then
		emake -C doc
		HTML_DOCS=( doc/html/. )
	fi
}

src_test() {
	cd "${BUILD_DIR}/test" || die

	# Skip certain tests needing git per upstream
	# https://github.com/nlohmann/json/issues/2189
	local myctestargs=(
		"-LE git_required"
	)
	
	cmake_src_test
}
