# Distributed under the terms of the GNU General Public License v2

EAPI=7

inherit go-module linux-info

DESCRIPTION="System container image builder for LXC and LXD"
HOMEPAGE="https://linuxcontainers.org/distrobuilder/introduction/"

EGO_SUM=(
{{ gosum }})

go-module_set_globals

SRC_URI="{{ artifacts[0].src_uri }}
	${EGO_SUM_SRC_URI}"

LICENSE="Apache-2.0"
SLOT="0"
KEYWORDS="*"

RDEPEND="
	dev-util/debootstrap
	app-crypt/gnupg
	sys-fs/squashfs-tools
	dev-vcs/git
	net-misc/rsync
"

CONFIG_CHECK="~OVERLAY_FS"

src_compile() {
	GOBIN="${S}/bin" go install ./... || die "compile failed"
}

src_install() {
	dobin bin/*
	dodoc -r doc/*
}
